*{
    font-family: Arial, Helvetica, sans-serif;
}
tr{
    width: 50px;
    background-color: gray;
    text-align: center;
}
th{
    background-color: black;
    width: 100px;
    height: 40px;
    color: white;
}